<div class="container">
    <div class="row">
        <div class="col-12 social">
            <a href="https://twitter.com/Poniverse" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://facebook.com/Poniverse" target="_blank"><i class="icon-facebook"></i></a>
            <a href="https://plus.google.com/116772903555675873826/posts" target="_blank"><i class="icon-googleplus"></i></a>
            <a href="http://blog.poniverse.net" target="_blank"><i class="icon-tumblr"></i></a>
            <a href="https://github.com/Poniverse" target="_blank"><i class="icon-github"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="copyright">&copy; 2012-2015 Poniverse Networks</p>
            <a href="mailto:hello@poniverse.net" class="tos">Contact Us</a>
            &nbsp;
            <a ui-sref="tos" class="tos">Terms of Service</a>
            &nbsp;
            <a ui-sref="privacy-policy" class="privacy-policy">Privacy Policy</a>
            &nbsp;
            <a ui-sref="api-docs" class="api">API</a>
            &nbsp;
            <a href="http://status.poniverse.io" class="privacy-policy">Service Status</a>
        </div>
    </div>
</div>
