<nav ng-class="{'in-header': vm.inHeader}" id="pv-top-nav">
    <div class="container">
        <a ui-sref="home" class="logo"><i class="icon-poniverse"></i></a>
        <menu ng-show="vm.user">
            <li>
                <ul>
                    <li class="display-name">{{ vm.user.data.display_name }}</li>
                    <li><a href="/account">Preferences</a></li>
                    <li><a href pv-log-out><i class="icon-off"></i> Logout</a></li>
                </ul>
            </li>
        </menu>
        <menu ng-hide="vm.user">
            <li><a class="sign-up" pv-register>register</a></li>
            <li><a class="button button-account" pv-sign-in>sign in</a></li>
        </menu>
    </div>
</nav>
