// Brand Colors
$blue:          #38dbe8;
$white:         white;
//$ltgray:        #fafafa;
//$gray:          #becfcf;
$black:         #2C2C2C;

$pink:          #ff0086;
$yellow:        #fcbe01;
$aqua:          #00e3c1;
$green:         #a1f100;
$purple:        #9c32c3;
$fuchsia:       #7356c3;
$darkblue:      #0178BC;

// Poniverse
$brand:         $blue;
$poniverse:     $blue;
$mlpforums:     $pink;
$ponyfm:        $purple;
$equestriatv:   $green;
$poniarcade:    $yellow;
$ponyvillelive: $darkblue;
$ponyroleplay:  $aqua;

// Partners
$bronycan:          #D50000;
$everfreenw:        #3C9953;
$babscon:           #00A1DA;
$nightmarenights:   #030303;
$writersinharmony:  #FF0093;
$fillycon:          #51C4DA;

$navbar-height: 50px;
